* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://assets.codepen.io/6060109/ZigZag.png');
  width: 100%;
}

.card {
  background: #fff;
  height: 80vh;
  width: 90vw;
  margin: 4rem auto;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
