@font-face {
  font-family: 'AdiHaus';
  src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdiHaus';
  src: url('https://assets.codepen.io/6060109/adihaus_bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
  font-family: 'Adihaus';
  background-image: url('https://assets.codepen.io/6060109/waves.png');
}

.all-content-container {
  max-width: 500px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 2rem auto;
}

.promo {
  background-image: url('https://assets.codepen.io/6060109/mobile-shoes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: top;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  color: #2f80ed;
  letter-spacing: 5px;
  font-size: 3rem;
  margin: 2rem auto;
}

.headline-two {
  color: #423a3a;
  font-weight: bold;
}

.text-content-container {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.text-content-container p {
  font-size: 1rem;
  line-height: 28px;
}

form {
  display: flex;
  margin-top: 2rem;
}

input[type='text'] {
  width: 75%;
  height: 40px;
  font-size: 14px;
  border-radius: 3px;
  padding: 0 20px;
}

input[type='submit'] {
  width: 25%;
  height: 40px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(124, 124, 124, 1) 0%,
    rgba(43, 40, 40, 1) 100%
  );
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 2.2rem;
}

.image-full {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .promo {
    display: none;
  }
  .container-full {
    display: flex;
  }

  .content-full {
    width: 50%;
    height: 100vh;
  }

  .image-full {
    display: block;
    width: 50%;
    background-image: url('https://assets.codepen.io/6060109/shoes.png');
    background-size: cover;
  }

  .all-content-container {
    height: 100vh;
    max-width: 1600px;
  }

  .text-content-container {
    text-align: left;
  }
  .logo {
    margin: 0;
  }
  h2 {
    font-size: 64px;
  }
}
